name: azure-cloud-controller-manager
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/azure-cloud-controller-manager
  tag: v1.34.3

controller:
  azureCredentialFile: /etc/kubernetes/config/azure.yaml
  controlPlaneNodeSelector:
    node-role.kubernetes.io/control-plane: ""
  kubeconfigFromHost: true
  workloadIdentity:
    clientID: ""

resources:
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 200m
    memory: 200Mi

ports:
  healthcheck: 10267

cluster:
  calico:
    CIDR: ""

test:
  image:
    name: giantswarm/alpine-testing
    tag: 0.1.1

verticalPodAutoscaler:
  enabled: true
